.experience {
  background-color: #3f72af;
  font-family: "Montserrat", sans-serif;
}

.experience h1 {
  text-align: center;
  padding-bottom: 2%;
}

.experience h3,
h5 {
  color: #000;
  font-weight: bolder;
}

.experience-date {
  color: #fff;
  font-weight: bolder;
}
